body {
    background: #1d1f21;
    color: #fff;
    font-family: Menlo, Consolas, 'Andale Mono', Monaco, 'Courier New', Courier;
    font-size: 85%;
    line-height: 150%;
}


#main {
    background-color: #282a2e;
    padding: 2em;
    width: 85%;

    margin: 2em auto;
    border-radius: .5em;
    position: relative;
    /*box-shadow: -.5em 0em 5em rgba(255,255,255,.15);*/
    border: 2px solid rgba(0,0,0,.5);
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: height .5s ease-out;
        -moz-transition: height .5s ease-out;
        -o-transition: height .5s ease-out;
        transition: height .5s ease-out;

}

h1 {
    margin: 0;
    font-size: 1.8em;
}

h2 { font-size: 1.4em; color: #fff; margin-top: 1.4em; }
h3 { font-size: 1.2em; margin: 1.4em 0 .5em;}


.about {
   font-weight: bold;
}

p {
    margin: 1em 0;
}

a, a:link, a:active, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #81a2be;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

a:hover, a:active {
    color: #ccddee;
}

a.selected {
    color: #fff;
}


button {
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    background-color: #81a2b7;
    border: 1px solid #333;
}
button.selected {
   background-color: #ccddee;
}

button:hover {
   background-color:#ccddee;
}


#trace {
    clear: both;
    background-color: #333;
    color: #fff;
    padding: .5em 1em;
    margin: 0;
}

#notes {
    width: 320px;
    float: left;
    background-color: rgba(255, 255, 255, .75);
    padding: 1em;
    margin: 1em;

}

.mainView {
    margin-top: 26px;
}

.demoLinks {
    width: 180px;
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 1.0em;
}

.mainContent {
    margin-left: 220px;
}

.demoContent {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.inset, .demoSource {
    padding: 1.0em;
    background: #1d1f21;
    border-radius: .5em;
    margin: 0;
    overflow: auto;
}

.demoContent h2:first-of-type {
    margin-top: 0;
}

.demoContent .inset {
    overflow: visible;
}

.demoSource {
    white-space: pre;
    height: 400px;
    overflow: auto;
}

.demoContent .box {
    height: 100px;
    background-color: #fff;
}

